<%= form_for(@my_item) do |f| %>
  <% if @my_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_item.errors.count, "error") %> prohibited this my_item from being saved:</h2>

      <ul>
      <% @my_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :component_id %><br>
    <%= f.number_field :component_id %>
  </div>
  <div class="field">
    <%= f.label :caart_id %><br>
    <%= f.number_field :caart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
