<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "navbar-inner">
		<div class = "container">
			<%= link_to "R4STechnologies", '#', id:"R4SLogo" %>
			<nav>
				<ul class = " nav pull-right">
				<li><%= link_to "Home",  '#' %></li>
				<li><%= link_to "About", '#' %></li>
				<li><%= link_to "Account", '#' %></li>
				<li><%= link_to "Shopping Cart", '#' %></li>
				<li><%= link_to "Log in", '#' %></li>
				<li><%= link_to "Contact Us", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>